// Button set
.btn {
  border-radius: 5px;
  background-color: rgb(179, 179, 179);
  padding: 16px 22px;
  border: none;
  font-family: "Allianz Neo";
  color: #FFF;
  min-width: auto;
  width: fit-content;
  font-size: 15px;
  cursor: pointer;
  display: block;
  text-decoration: none !important;

  &.btn-primary {
    background-color: $primary-blue-2;

    &:hover {
      opacity: 0.9;
    }
  }

  &.bold {
    font-weight: 600;
  }

  &.btn-outline {
    background-color: #FFF;
    border: 2px solid $primary-blue-2;
    color: $primary-blue-2;

    &:hover {
      background-color: rgba(0, 122, 179, 0.1);
    }
  }
}

@media (max-width: 1023px) {
  .btn {
    font-size: 12px;
  }
}

// From 480px width and down
@media (max-width: 480px) {
  .btn {
    padding: 13px 22px;
  }
}
