.footer {
  bottom: 0;
  width: 100%;
  padding: 30px 80px;
  background: #FFFFFF;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;

  .copyright {
    float: right;
    font-size: 12px;
    color: rgba(74, 74, 74, 0.5);
  }

  .menu {
    max-width: 500px;
    font-size: 14px;
    color: $primary-gray-3;

    .row {
      a {
        text-decoration: none;
        color: $primary-gray-3;
      }
    }
  }
}

// From 1023px width and down
@media (max-width: 1023px) {
  .footer {
    border-top: 1px solid rgba(224, 224, 224, 1);
    padding: 24px calc(30% - 100px);
    position: unset;

    .copyright {
      float: none;
      font-size: 13px;
      margin-bottom: 30px;
    }

    .menu {
      .row {
        a {
          font-size: 13px;
          margin-bottom: 7px;
          color: rgba(151, 151, 151, 1);
        }
      }
    }
  }
}

// From 480px width and down
@media (max-width: 480px) {
  .footer {
    padding: 24px 12px 15px;
  }
}
