.input-group {
    position: relative;

    span {
        color: red;
        top: 2px;
        position: relative;
        font-size: 12px;
    }

    label {
        position: absolute;
        cursor: text;
        order: -1;
        top: 0;
        pointer-events: none;
        transition: all .3s cubic-bezier(0, 0.1, 0.15, 1);
        transform: translateY(-10px);
    }

    input {
        font-weight: 600;
        color: $primary-gray-3;

        &::placeholder {
            color: transparent;
            transition: color 0.3s;
        }

        &:invalid {
            &:focus {
                &+label {
                    transform: translateY(-30px);
                    font-size: 13px !important;
                }
            }

        }

        &:valid {
            &+label {
                transform: translateY(-30px);
                font-size: 13px !important;
            }
        }

        // &:not(:focus) {
        //   &+label {
        //     transform: translateY(-5px);
        //   }
        // }

        // &:not(:focus) {
        //     &:invalid{
        //         &+label {
        //             transform: translateY(-25px);
        //             font-size: 13px !important;
        //           }
        //     }
        // }


    }


    .toggle-password {
        position: absolute;
        cursor: pointer;
        font-size: 13px;
        right: 3px;
        top: 10px;
        padding-left: 10px;
        padding-right: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $primary-gray-1;
    }

    .row {
        margin-top: 10px;
    }

    &.fail {
        &::before {
            font-family: "Font Awesome 5 Pro";
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: 900;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            content: "\f057";
            font-size: 13px;
            position: relative;
            float: right;
            bottom: -36px;
            color: #D83939;
            margin-top: -17px;
        }

        input {
            color: #D83939;
            font-weight: 600;
        }
    }
}

input {
    font-family: 'Allianz Neo';
}

.box__input {
    label {
        font-size: 15px;
        margin-top: 22px;
        color: $primary-gray-1;
    }

    input {
        font-size: 15px;
        display: block;
        width: 100%;
        padding: 15px 0 10px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #CCCCCC;
        background-color: transparent;
        position: unset !important;
        margin-top: 0 !important;
        margin-left: 0 !important;


        &:focus {
            outline-width: 0;
            border-bottom-color: $primary-background;
        }
    }
}

.form__box {
    background-color: #FFF;
    padding-top: 56px;
    padding-bottom: 62px;
    padding-left: 0;
    padding-right: 0;
    max-width: 697px;
    width: 100%;
    position: relative;
    // min-width: fit-content;
}

select {
    &+span {
        color: red;
        top: 2px;
        position: relative;
        font-size: 12px;
    }
}
.contact-info{
    .title{
        font-weight: 600;
        color:#000000;
        font-size: 16px;
    }
    .content{
        color: #636363;
        font-size: 14px;
        border-bottom: 1px solid #F1F1F1;
        padding-bottom: 17px;
    }
}
@media (min-width: 1024px) {
    .form__box {
        padding-top: 56px;
        padding-bottom: 62px;
        margin-bottom: 150px;
    }
}

// From 1280px width and down
@media (max-width: 1280px) {
    .form__box {
        width: calc(60vw - 100px);
    }
}

// From 1023px width and down
@media (max-width: 1023px) {
    .form__box {
        width: 100%;
        max-width: unset;
        padding: 1.5em calc(30% - 100px) 70px;
    }
}

// From 480px width and down
@media (max-width: 480px) {
    .form__box {
        padding: 1.5em 15px 70px !important;
    }
}
