// Padding, Margin
.mt-5 {
    margin-top: 5em !important;
}

.mt-2 {
    margin-top: 2em !important;
}

.mt-3 {
    margin-top: 3em !important;
}

.mt-1 {
    margin-top: 1em !important;
}

.p-0 {
    padding: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pr-1 {
    padding-right: 1em !important;
}

.mb-1 {
    margin-bottom: 1em !important;
}

.mb-2 {
    margin-bottom: 2em !important;
}

.mb-3 {
    margin-bottom: 3em !important;
}

.mr-1 {
    margin-right: 1em !important;
}

.mr-2 {
    margin-right: 2em !important;
}

.mt-10px {
    margin-top: 10px !important;
}

.mt-20px {
    margin-top: 20px !important;
}

.mt-5px {
    margin-top: 5px !important;
}

.mt-25px {
    margin-top: 25px !important;
}

.mt-30px {
    margin-top: 30px !important;
}

.mb-10px {
    margin-bottom: 10px !important;
}
.mr-10px {
    margin-right: 10px !important;
}
.mr-5px {
    margin-right: 5px !important;
}

.mb-20px {
    margin-bottom: 20px !important;
}

.mt-down-10px {
    margin-top: -10px !important;
}
.mt-down-5px {
    margin-top: -5px !important;
}
