$primary-blue-1: #E6F4F6;
$primary-blue-2: #007AB3;

$link-color: #0056c7;

$primary-background: #003781;
$secondary-background: #F0F0F0;

$primary-gray-1: #979797;
$primary-gray-2: #636363;
$primary-gray-3: #4a4a4a;