<!-- <div class="auth-container">
    <div class="introduction__box pb-0">
        <div class="box__logo">
            <img src="../../../../assets/images/Allianz.svg">
        </div>
    </div>
    <div class="form__box">
        <div class="agent-portal">Agent Portal</div>
        <div class="box__container">
            <div class="box__title">
                Done!
            </div>

            <div class="box__input mt-1">
                <label class="label-alert">Your login account has been created.</label>
                <div class="padding-box">
                    ong.peili@allianz.com.my
                </div>
                <p class="label-alert">Please note that you will be required to change your password and update your
                    profile upon first login. Login accounts that are not activated within 30 days will automatically be
                    disabled.</p>
            </div>

            <div class="row mt-2">
                <div class="col p-0 justify-content-flex-end d-flex">
                    <a routerLink="/login" class="btn btn-primary">LOGIN NOW</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="box__title">
    Done!
</div>

<div class="box__input mt-5px">
    <label class="label-alert">Your login account has been created.</label>
    <div class="padding-box">
        ong.peili@allianz.com.my
    </div>
    <p class="label-alert">Please note that you will be required to change your password and update your
        profile upon first login. Login accounts that are not activated within 30 days will automatically be
        disabled.</p>
</div>

<div class="row mt-2">
    <div class="col p-0 justify-content-flex-end d-flex">
        <a routerLink="/login" class="btn btn-primary">LOGIN NOW</a>
    </div>
</div>