<div class="box__title">
    Login
</div>
<div class="box__subtitle mt-5px">
    Your account will be locked after 3 unsuccessful login attempts.
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="box__input">
        <div class="input-group mb-2" [ngClass]="submitted && loginForm.controls.username.errors ? 'fail': ''">
            <input type="text" formControlName="username" required>
            <label>Username</label>
            <span *ngIf="submitted && loginForm.controls.username.errors">
                Username is required.
            </span>
        </div>
        <div class="input-group mb-2">
            <input [type]="isHidePassword ? 'password' : 'text'" id="password" formControlName="password" required>
            <label>Password</label>
            <span class="toggle-password" (click)="togglePassword()"><i id="togglePW"
                    [ngClass]="isHidePassword ? 'fa-eye-slash' : 'fa-eye'" class="fas fa-eye"></i></span>
            <span *ngIf="submitted && loginForm.controls.password.errors">
                Password is required.
            </span>
        </div>
    </div>
    <div class="box__term-check mb-2">
        <input type="checkbox" formControlName="termCheck" class="styled-checkbox" id="check">
        <label for="check">I acknowledge that I have read and understood the <a href="#">Terms of Use</a> and I
            agree to be bound by them.</label>
        <span *ngIf="submitted && !loginForm.controls.termCheck.value">
            You must agree Term of Use to continue.
        </span>
    </div>
    <div class="row">
        <div class="col-xs-7 p-0">
            <a routerLink="/forgot-password" class="forgot-password">manage your password</a>
        </div>
        <div class="col-xs-5 p-0 justify-content-flex-end d-flex">
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
    </div>
</form>