<div class="box__title">
    Update Your Profile
</div>
<div class="padding-box box2 mt-2">
    <div class="row mb-1">
        <div class="col-xs-5 p-0">Username:</div>
        <div class="col-xs-7 p-0">Cinnamon</div>
    </div>
    <div class="row">
        <div class="col-xs-5 p-0">Email Address:</div>
        <div class="col-xs-7 p-0">ong.peili@allianz.com.my</div>
    </div>
</div>
<form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
    <div class="box__input">
        <div class="input_control mt-2 mb-3">
            <label>Mobile No.</label>
            <div class="row mt-10px">
                <div class="col-xs-3 p-0 pr-1">
                    <select formControlName="mobilePrefix">
                        <option value="">+60</option>
                        <option value="121">+88</option>
                    </select>
                    <span *ngIf="submitted && updateProfileForm.controls.mobilePrefix.errors">
                        Prefix is required.
                    </span>
                </div>
                <div class="col-xs-4 p-0 pr-1">
                    <select formControlName="mobile2">
                        <option value="">16</option>
                        <option value="volvo">345345</option>
                    </select>
                    <span *ngIf="submitted && updateProfileForm.controls.mobile2.errors">
                        This field is required.
                    </span>
                </div>
                <div class="col-xs-5 p-0">
                    <select formControlName="mobile3">
                        <option value=""></option>
                        <option value="321">123123</option>
                    </select>
                    <span *ngIf="submitted && updateProfileForm.controls.mobile3.errors">
                        This field is required.
                    </span>
                </div>
            </div>
        </div>
        <div class="input_control">
            <select formControlName="secretQuestion">
                <option value="">Select your secret question</option>
                <option value="1">question 1</option>
            </select>
            <span *ngIf="submitted && updateProfileForm.controls.secretQuestion.errors">
                Secret Question is required.
            </span>
        </div>
        <div class="input-group mt-3" [ngClass]="submitted && updateProfileForm.controls.secretAnswer.errors ? 'fail': ''">
            <input type="text" formControlName="secretAnswer" required>
            <label>Secret Answer</label>
            <span *ngIf="submitted && updateProfileForm.controls.secretAnswer.errors">
                Secret Answer is required.
            </span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col pr-0 justify-content-flex-end d-flex">
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </div>
</form>