<div class="box__title">
    Done!
</div>

<div class="box__input mt-1">
    <label class="label-alert">You have successfully reset your password. A temporary password has been sent to your
        email. Kindly login with your temporary password, then update your password.
    </label>
</div>

<div class="row mt-2">
    <div class="col p-0 justify-content-flex-end d-flex">
        <a routerLink="/login" class="btn btn-primary">BACK TO LOGIN</a>
    </div>
</div>