<div class="box__title">
    Account Currently In Use
</div>
<form [formGroup]="loginForm1" (ngSubmit)="onSubmit()">
    <div class="box__input mt-1">
        <label class="label-alert">You account is currently logged in from another location.</label>
        <div class="padding-box">
            You logged in on 19 Feb 2019 at 9:30 AM.
        </div>
        <p class="label-alert">To reset your session, please enter your Username.</p>
    </div>
    <div class="box__input mt-20px">
        <div class="input-group mb-2"
            [ngClass]="submitted && loginForm1.controls.username.errors ? 'fail': ''">
            <input type="text" formControlName="username" required>
            <label>Username</label>
            <span *ngIf="submitted && loginForm1.controls.username.errors">
                Username is required.
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col p-0 d-flex justify-content-flex-end">
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </div>
</form>