<div class="box__title">
    Enter a New Password
</div>
<form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
    <div class="box__input mt-2">
        <div class="input-group mb-2">
            <input [type]="isHidePassword ? 'password' : 'text'" id="password" formControlName="password" required>
            <label>New Password</label>
            <span class="toggle-password" (click)="togglePassword()"><i id="togglePW"
                    [ngClass]="isHidePassword ? 'fa-eye-slash' : 'fa-eye'" class="fas fa-eye"></i></span>
            <span *ngIf="submitted && newPasswordForm.controls.password.errors">
                New Password is required.
            </span>
        </div>
        <div class="input-group mb-2">
            <input [type]="isHidePasswordConfirm ? 'password' : 'text'" id="passwordConfirm"
                formControlName="passwordConfirm" required>
            <label>Re-type Your New Password</label>
            <span class="toggle-password" (click)="togglePasswordConfirm()"><i id="togglePW"
                    [ngClass]="isHidePasswordConfirm ? 'fa-eye-slash' : 'fa-eye'" class="fas fa-eye"></i></span>
            <span *ngIf="submitted && newPasswordForm.controls.passwordConfirm.errors">
                Re-type New Password is required.
            </span>
        </div>
    </div>
    <div class="row">
            <div class="col p-0 justify-content-flex-end d-flex">
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </div>
</form>