<div class="box__title">
    Helpdesk Contact Info
</div>
<div class="contact-info mt-2">
    <div class="title">
        Agent/ Corporate
    </div>
    <div class="row mt-10px content">
        <div class="col-xs-4 p-0">
            <i class="fas fa-phone-alt mr-5px"></i>
            03-2264 4848
        </div>
        <div class="col-xs-8 p-0">
            <i class="fas fa-envelope mr-5px"></i>
            imagine.helpdesk@allianz.com.my
        </div>
    </div>
</div>
<div class="contact-info mt-2">
    <div class="title">
        HSBC Bank Sales Staff
    </div>
    <div class="row mt-10px content">
        <div class="col-xs-4 p-0">
            <i class="fas fa-phone-alt mr-5px"></i>
            1-300-88-3080
        </div>
        <div class="col-xs-8 p-0">
            <i class="fas fa-envelope mr-5px"></i>
            hsbc.support@allianz.com.my
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col p-0 justify-content-flex-end d-flex">
        <a routerLink="/login" class="btn btn-primary">BACK TO LOGIN</a>
    </div>
</div>