<!-- <div class="auth-container">
    <div class="introduction__box pb-0">
        <div class="box__logo">
            <img src="../../../../assets/images/Allianz.svg">
        </div>
        <div class="box__title">
            New agent registration
        </div>
        <div class="box__description hide-below-lg">
            Please enter your preferred username and email address
        </div>
    </div>
    <div class="form__box">
        <div class="agent-portal">Agent Portal</div>
        <div class="box__container">
            <div class="box__title">
                Enter Your Details
            </div>

            <div class="box__input mt-1">
                <div class="input-group mb-1">
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="input-group">
                    <input type="text" required>
                    <label>Email</label>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col p-0 justify-content-flex-end d-flex">
                    <a routerLink="/register/policy-agent" class="btn btn-primary">NEXT</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="box__title">
    Enter Your Details
</div>
<form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <div class="box__input mt-2">
        <div class="input-group mb-1"
            [ngClass]="submitted && detailsForm.controls.username.errors ? 'fail': ''">
            <input type="text" formControlName="username" required>
            <label>Username</label>
            <span *ngIf="submitted && detailsForm.controls.username.errors">
                Username is required.
            </span>
        </div>
        <div class="input-group mt-2"
            [ngClass]="submitted && detailsForm.controls.email.errors ? 'fail': ''">
            <input type="text" formControlName="email" required>
            <label>Email</label>
            <span *ngIf="submitted && detailsForm.controls.email.errors">
                Email is required.
            </span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col p-0 justify-content-flex-end d-flex">
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </div>
</form>