<div class="auth__left-background"></div>
<div class="auth__right-background"></div>
<div class="auth-frame">
    <div class="auth-container">
        <div class="introduction__box">
            <div class="box__logo">
                <a routerLink="/">
                    <img src="../../../../assets/images/Allianz.svg">
                </a>
            </div>

            <!-- Login introduction -->
            <ng-container *ngIf="isEnableLoginInstroduction">
                <div class="box__title mb-20px">
                    Welcome,
                </div>
                <div class="box__description mb-20px">
                    You must register for an account before accessing the Allianz Agent Portal. Your data will only be
                    used for verification purposes and to inform you about important updates.
                </div>
                <a routerLink="/register" class="btn btn-primary">REGISTER HERE</a>
            </ng-container>

            <!-- Register introduction -->
            <ng-container *ngIf="isEnableRegisterInstroduction">
                <div class="box__title mb-20px">
                    New agent registration
                </div>
                <div class="box__description hide-below-lg">
                    You must register for an account before accessing the Allianz Agent Portal. Your data will only be
                    used for verification purposes and to inform you about important updates.
                    <div class="description__contact">
                        <p>If you require assistance, kindly contact our helpdesk at :</p>
                        <p><i class="fas fa-phone-alt"></i> 03-2264-4848 / 03-2264-4999 </p>
                        <p><i class="fas fa-envelope"></i> Imagine.Helpdesk@allianz.com.my</p>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="isEnableLoginDetails">
                <div class="box__title mb-20px">
                    New agent registration
                </div>
                <div class="box__description hide-below-lg">
                    Please enter your preferred username and email address
                </div>
            </ng-container>

            <ng-container *ngIf="isEnableLoginDetails2">
                <div class="box__title mb-20px">
                    New agent registration
                </div>
                <div class="box__description hide-below-lg">
                    Please enter your preferred username
                </div>
            </ng-container>

            <ng-container *ngIf="isEnableForgotPassword1">
                <div class="box__title mb-20px">
                    Forgot Password
                </div>
                <div class="box__description hide-below-lg">
                    Please enter your username to reset your password.
                </div>
            </ng-container>

            <ng-container *ngIf="isEnableForgotPassword2">
                <div class="box__title mb-20px">
                    Forgot Password
                </div>
                <div class="box__description hide-below-lg">
                    Please confirm your identity be answering your secret question
                </div>
            </ng-container>

            <ng-container *ngIf="isEnableForgotID1">
                <div class="box__title mb-20px">
                    Forgotten Username
                </div>
                <div class="box__description hide-below-lg">
                    Please enter your Agent Code / Distributer Code to retrieve your username
                </div>
            </ng-container>

            <ng-container *ngIf="isEnableAccountError">
                <div class="box__title mb-20px">
                    Forgotten Username
                </div>
                <div class="box__description hide-below-lg">
                    Your account has been disable. This may be due to a long period of inactivity, or the account could
                    have been terminated.
                </div>
            </ng-container>

            <ng-container *ngIf="isEnableFirstLogin1">
                <div class="box__title mb-20px">
                    First Time Login
                </div>
                <div class="box__description hide-below-lg">
                    Please update your password
                </div>
            </ng-container>

            <ng-container *ngIf="isEnableFirstLogin2">
                <div class="box__title mb-20px">
                    First Time Login
                </div>
                <div class="box__description hide-below-lg">
                    Please update your profile with the following information
                </div>
            </ng-container>

        </div>
        <div class="form__box">
            <div class="agent-portal">{{boxTitle}}</div>
            <div class="box__container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div *ngIf="isEnableRegisterInstroduction" class="contact-block hide-above-lg">
        <p>If you require assistance, kindly contact our helpdesk at :</p>
        <p><i class="fas fa-phone-alt"></i> 03-2264-4848 / 03-2264-4999 </p>
        <p><i class="fas fa-envelope"></i> Imagine.Helpdesk@allianz.com.my</p>
    </div>
    <div class="footer">
        <div class="copyright">© Allianz Malaysia Berhad (12428-W) 2019. All rights Reserved</div>
        <div class="menu">
            <div class="row">
                <a href="#" class="col-xs-6 col-sm-3 p-0">Legal Notes</a>
                <a href="#" class="col-xs-6 col-sm-3 p-0">Privacy Policy</a>
                <a href="#" class="col-xs-6 col-sm-3 p-0">Terms of Use</a>
                <a href="#" class="col-xs-6 col-sm-3 p-0">Sitemap</a>
            </div>
        </div>
    </div>
</div>