<div class="box__title">
    Enter Your Details
</div>
<form [formGroup]="forgotID1Form" (ngSubmit)="onSubmit()">

    <div class="box__input">
        <div class="input-group mb-2 mt-2" [ngClass]="submitted && forgotID1Form.controls.agentCode.errors ? 'fail': ''">
            <input type="text" formControlName="agentCode" required>
            <label>Agent Code / Distributor Code</label>
            <span *ngIf="submitted && forgotID1Form.controls.agentCode.errors">
                Agent Code / Distributor Code is required.
            </span>
        </div>
        <div class="input-group mb-2 mt-2" [ngClass]="submitted && forgotID1Form.controls.agencyCode.errors ? 'fail': ''">
            <input type="text" formControlName="agencyCode" required>
            <label>Agency</label>
            <span *ngIf="submitted && forgotID1Form.controls.agencyCode.errors">
                Agency is required.
            </span>
        </div>
        <div class="input_control mt-down-5px mb-2">
            <label>Date joined as agent</label>
            <div class="row mt-10px">
                <div class="col-xs-3 p-0 pr-1">
                    <select formControlName="day">
                        <option value="">Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <span *ngIf="submitted && forgotID1Form.controls.day.errors">
                        Day is required.
                    </span>
                </div>
                <div class="col-xs-4 p-0 pr-1">
                    <select formControlName="month">
                        <option value="">Month</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <span *ngIf="submitted && forgotID1Form.controls.month.errors">
                        Month is required.
                    </span>
                </div>
                <div class="col-xs-5 p-0">
                    <select formControlName="year">
                        <option value="">Year</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                    </select>
                    <span *ngIf="submitted && forgotID1Form.controls.year.errors">
                        Year is required.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pr-0 justify-content-flex-end d-flex">
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </div>
</form>