<div class="box__title">
    Account Currently In Use
</div>
<form [formGroup]="secretQAForm" (ngSubmit)="onSubmit()">
    <div class="box__input mt-1">
        <label class="label-alert">Please enter your secret answer below.</label>
        <div class="input_control mt-1 mb-2">
            <div class="row">
                <div class="col p-0">
                    <select formControlName="secretQuestion">
                        <option value="">Select your secret question</option>
                        <option value="1">question 1</option>
                    </select>
                    <span *ngIf="submitted && secretQAForm.controls.secretQuestion.errors">
                        Secret Question is required.
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="box__input mb-1">
        <div class="input-group mb-2"
            [ngClass]="submitted && secretQAForm.controls.secretAnswer.errors ? 'fail': ''">
            <input type="text" formControlName="secretAnswer" required>
            <label>Secret answer</label>
            <span *ngIf="submitted && secretQAForm.controls.secretAnswer.errors">
                Secret Answer is required.
            </span>
        </div>
    </div>
    <div class="warning">
        <img src="../../../../../assets/images/warning.svg">
        <div class="warning__message">Warning:<br />
            You will be logged out of your previous session will lose any unsaved work.
        </div>
    </div>
    <div class="row mt-2">
        <div class="col p-0 text-algin-end">
            <a class="btn btn-outline mr-1 d-inline bold">CANCEL</a>

            <button type="submit" class="btn d-inline btn-primary bold">PROCEED</button>
        </div>
    </div>
</form>