#policy-holder-form {
  display: none;
}

input[type=checkbox]#policy-holder:checked+label~#policy-holder-form {
  display: block;
}

select {

  #policy-holder-form {
    display: none;
  }

  input[type=checkbox]#policy-holder:checked+label~#policy-holder-form {
    display: block;
  }
}
