<div class="box__title">
    Enter Your Details
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="box__input">
        <div class="input-group mb-2 mt-2"
            [ngClass]="submitted && registerForm.controls.agentCode.errors ? 'fail': ''">
            <input type="text" formControlName="agentCode" required>
            <label>Agent Code / Distributor Code</label>
            <span *ngIf="submitted && registerForm.controls.agentCode.errors">
                Agent Code / Distributor Code is required.
            </span>
        </div>
        <div class="input_control mb-2 ">
            <label>Date joined as agent</label>
            <div class="row mt-10px">
                <div class="col-xs-3 p-0 pr-1">
                    <select formControlName="day">
                        <option value="">Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <span *ngIf="submitted && registerForm.controls.day.errors">
                        Day is required.
                    </span>
                </div>
                <div class="col-xs-4 p-0 pr-1">
                    <select formControlName="month">
                        <option value="">Month</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <span *ngIf="submitted && registerForm.controls.month.errors">
                        Month is required.
                    </span>
                </div>
                <div class="col-xs-5 p-0">
                    <select formControlName="year">
                        <option value="">Year</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                    </select>
                    <span *ngIf="submitted && registerForm.controls.year.errors">
                        Year is required.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="box__term-check box-style mb-2">
        <input type="checkbox" class="styled-checkbox" id="policy-holder">
        <label id="thislabel" for="policy-holder"> I am also a policy holder</label>
        <div class="transparent-background" id="policy-holder-form">
            <div class="box__input">
                <div class="input-group mb-2 mt-30px">
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="input-group mb-1 fail">
                    <input type="text" value="email@allianz.com.my" required>
                    <label>Email</label>
                </div>
                <div class="input_control mt-2 mb-2">
                    <label>Mobile No.</label>
                    <div class="row mt-10px">
                        <div class="col-xs-3 p-0 pr-1">
                            <select>
                                <option value="volvo">+60</option>
                            </select>
                        </div>
                        <div class="col-xs-4 p-0 pr-1">
                            <select>
                                <option value="volvo">16</option>
                            </select>
                        </div>
                        <div class="col-xs-5 p-0">
                            <select>
                                <option value="volvo"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="input_control mb-2">
                    <label>Identification Type</label>
                    <div class="row">
                        <div class="col p-0">
                            <select>
                                <option value="volvo">New IC</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-1">
                    <input type="text" required>
                    <label>New IC No.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="error mb-1">
        <img src="../../../../assets/images/close.svg">

        <div class="error__message">
            The email address has already be registered to another account. Please login or register with
            another email.
        </div>
    </div>
    <div class="row">
        <div class="col pr-0 justify-content-flex-end d-flex">
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </div>
</form>