<div class="box__title">
    Enter Secret Answer
</div>
<form [formGroup]="secretQAForm" (ngSubmit)="onSubmit()">
    <div class="box__input mt-2 mb-2">
        <div class="input_control">
            <div class="row">
                <div class="col p-0">
                    <select formControlName="secretQuestion">
                        <option value="">Select your secret question</option>
                        <option value="1">question 1</option>
                    </select>
                    <span *ngIf="submitted && secretQAForm.controls.secretQuestion.errors">
                        Secret Question is required.
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="box__input mb-1">
        <div class="input-group mb-2" [ngClass]="submitted && secretQAForm.controls.secretAnswer.errors ? 'fail': ''">
            <input type="text" formControlName="secretAnswer" required>
            <label>Secret answer</label>
            <span *ngIf="submitted && secretQAForm.controls.secretAnswer.errors">
                Secret Answer is required.
            </span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col p-0 text-algin-end">
            <button type="submit" class="btn d-inline btn-primary bold">NEXT</button>
        </div>
    </div>
</form>