<div class="box__title">
    Enter Your Username
</div>
<form [formGroup]="FPstep1Form" (ngSubmit)="onSubmit()">
    <div class="box__input mb-1 mt-2">
        <div class="input-group mb-2" [ngClass]="submitted && FPstep1Form.controls.username.errors ? 'fail': ''">
            <input type="text" formControlName="username" required>
            <label>Username</label>
            <span *ngIf="submitted && FPstep1Form.controls.username.errors">
                Username is required.
            </span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col p-0 text-algin-end">
            <a routerLink="/forgot-id" class="btn btn-outline mr-1 d-inline bold">FORGOT USERNAME</a>

            <button type="submit" class="btn d-inline btn-primary bold">NEXT</button>
        </div>
    </div>
</form>