@import "~src/assets/scss/_variable.scss";
@import "~src/assets/scss/_spacing.scss";
@import "~src/assets/scss/fonts";
@import "~src/assets/scss/grid.scss";
@import "~src/assets/scss/_button.scss";
@import "~src/assets/scss/_footer.scss";
@import "~src/assets/scss/_form.scss";

/* You can add global styles to this file, and also import other style files */
body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Allianz Neo';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0, 0, 0, .2) 0 0 1px;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.transparent-background {
    background: transparent !important;
}

.padding-box {
    color: $primary-gray-2;
    font-weight: bold;
    font-size: 15px;
    background-color: $primary-blue-1;
    padding: 24px;
    margin-top: 12px;
}

.d-inline {
    display: inline-block !important;
}

// Flexbox
.d-flex {
    display: flex;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

// Checkbox
.styled-checkbox {
    opacity: 0; // hide it

    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
        color: #9B9B9B;
        font-size: 13px;
    }

    // Box.
    &+label:before {
        content: '';
        margin-right: 7px;
        margin-top: -1px;
        margin-left: -23px;
        display: inline-block;
        vertical-align: text-top;
        width: 14px;
        height: 14px;
        background: white;
        border: 1px solid rgba(155, 155, 155, 1);
    }

    // Box hover
    &:hover+label:before {
        background: #f7f7f7;
    }

    // Box focus
    // &:focus+label:before {
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    // }

    // Box checked
    // &:checked+label:before {
    // background: #6d6d6d;
    // }

    // Disabled state label.
    &:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }

    // Disabled box.
    &:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '';
        position: absolute;
        left: -20px;
        top: 6px;
        background: rgba(155, 155, 155, 1);
        width: 2px;
        height: 2px;
        box-shadow:
            2px 0 0 rgba(155, 155, 155, 1),
            4px 0 0 rgba(155, 155, 155, 1),
            4px -2px 0 rgba(155, 155, 155, 1),
            4px -4px 0 rgba(155, 155, 155, 1),
            4px -6px 0 rgba(155, 155, 155, 1),
            4px -8px 0 rgba(155, 155, 155, 1);
        transform: rotate(45deg);
    }
}

.contact-block {
    font-size: 13px;
    color: rgba(99, 99, 99, 1);
    margin: 24px calc(30% - 100px);
    padding: 20px;
    background-color: rgba(241, 241, 241, 1);
    margin-top: 50px;

    i {
        margin-right: 10px;
        font-size: 12px;
    }
}

// Select
select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    padding: 5px 5px 10px 0;
    width: 100%;
    margin-right: 5px;
    font-family: 'Allianz Neo';
    font-size: 16px;
    font-weight: 600;
    color: rgba(74, 74, 74, 1);
    background: url(assets/images/down-arrow.svg) no-repeat right;
    background-size: 14px;
    -webkit-appearance: none;
}

label.select_label {
    font-size: 13px !important;
    color: rgba(151, 151, 151, 1);
}


.agent-portal {
    position: absolute;
    right: 0;
    top: -37px;
    font-weight: 600;
    font-size: 20px;
}

// Text
.text-algin-end {
    text-align: end;
}

// Message
.label-alert {
    color: $primary-gray-2 !important;
    font-size: 15px;
}

.error {
    border-radius: 8px;
    padding: 17px;
    background-color: #D83939;
    display: flex;
    align-items: flex-start;

    img {
        max-width: 43px;
        max-height: 43px;
    }

    .error__message {
        color: #FFF;
        font-size: 13px;
        padding: 5px 11px;
    }
}

.warning {
    display: flex;
    align-items: flex-start;

    img {
        max-width: 46px;
        position: relative;
        top: 7px;
    }

    .warning__message {
        padding: 5px 10px 15px;
        color: #D83939;
        font-style: italic;
        font-size: 13px;
        font-weight: 600;
    }
}

.forgot-password {
    color: $primary-blue-2;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.box__title {
    //   color: #000000;
    font-size: 35px;
}

.box__container {
    max-width: 409px;
    margin: 0 auto;
}

.box__subtitle {
    font-size: 15px;
    color: $primary-gray-2;
    margin-bottom: 31px;
}

.box__term-check {
    position: relative;
    display: block;
    padding-left: 1.5rem;

    span {
        color: red;
        top: 2px;
        position: relative;
        font-size: 12px;
        display: block;
        
        
    }
    
    &.box-style {
        background-color: rgba(241, 241, 241, 1);
        padding: 22px 30px !important;

        .styled-checkbox {
            &+label {
                margin-left: 23px;
                margin-top: 0px;
                font-size: 16px !important;
                font-weight: 600;
                color: rgba(74, 74, 74, 1) !important;

                &:before {
                    margin-top: 2px;
                }

                &:after {
                    top: 9px;
                }

                &:checked {
                    &+label:after {
                        left: -28px !important;
                    }
                }
            }
        }
    }

    .form__box {
        padding: 10px 0 0 0;
        width: 100%;
        margin-bottom: 0;
    }

    input {
        position: absolute;
        margin-top: .2rem;
        margin-left: -1.25rem;
    }


}

.introduction__box {
    margin-right: 32px;
    max-width: 344px;
    color: #FFFFFF;
    min-width: 344px;

    .box__logo {
        margin-bottom: 60px;

        img {
            width: 100%;
            max-width: 230px;
        }
    }

    .box__title {
        font-size: 26px;
    }

    .box__description {
        font-size: 16px;
        line-height: 20px;

        p:first-child {
            margin: 15px 0;
        }

        p {
            margin: 3px 0;
        }

        i {
            margin-right: 7px;
            font-size: 11px;
        }

        .description__contact {
            margin-top: 20px;
            padding-top: 10px;
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            font-size: 14px;
        }
    }
}

.auth-frame {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;

    .auth-container {
        position: unset;
        width: 100%;
        max-width: 1080px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;



    }
}

// From 1024px width and above
@media (min-width: 1024px) {
    .hide-above-lg {
        display: none;
    }

    .auth__left-background {
        display: inline-block;
        background-color: $primary-background;
        height: 100%;
        width: 48%;
        margin-bottom: -6px;
        position: fixed;
    }

    .auth__right-background {
        display: inline-block;
        background-color: $secondary-background;
        width: 52%;
        height: 100%;
        margin-bottom: -6px;
        position: fixed;
        right: 0;

    }

    .auth-frame {
        .auth-container {
            width: 100vw;
            max-width: 1080px;
            margin-top: 70px;

        }
    }


}

// From 1280px width and above
@media (min-width: 1280px) {
    .auth-frame {
        .auth-container {
            box-sizing: border-box;

            .form__box {
                padding-top: 56px;
                padding-bottom: 62px;

            }
        }
    }
}

// From 1023px width and down
@media (max-width: 1023px) {
    .box__container {
        max-width: unset;
    }

    .agent-portal {
        display: none;
    }

    .hide-below-lg {
        display: none;
    }


    .box__title {
        font-size: 22px;
    }

    .box__subtitle {
        font-size: 14px;
    }

    .introduction__box {
        margin: 0;
        background-color: $primary-background;
        width: 100%;
        max-width: unset;
        min-width: unset !important;

        padding: 24px calc(30% - 100px);

        .box__logo {
            margin-bottom: 0;

            img {
                max-width: 110px;
                margin-top: 5px;
            }
        }

        .box__title {
            margin-top: 15px;
            font-size: 18px;
            margin-bottom: 0!important;
        }

        .box__description {
            font-size: 13px;
            line-height: 16px;
        }
    }

    .auth-frame {
        display: block;

        .auth-container {
            box-sizing: border-box;
        }
    }

    .forgot-password {
        font-size: 12px;
    }
}

// From 480px width and down
@media (max-width: 480px) {
    .contact-block {
        margin: 0;
    }

    .introduction__box {
        padding: 1.5em 15px;

        .box__description {
            margin-bottom: 1.5em;
        }
    }
}
