<div class="box__title">
    Session Reset Requested
</div>
<form [formGroup]="resetSSForm" (ngSubmit)="onSubmit()">
    <div class="box__input mt-1">
        <label class="label-alert">You previously requested to clear your login session. Please check your email for an
            activation code and enter it below to proceed.</label>

    </div>
    <div class="box__input mt-2">
        <div class="input-group"
            [ngClass]="submitted && resetSSForm.controls.activationCode.errors ? 'fail': ''">
            <input type="text" formControlName="activationCode" required>
            <label>Activation Code</label>
            <span *ngIf="submitted && resetSSForm.controls.activationCode.errors">
                Activation Code is required.
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col p-0 justify-content-flex-end d-flex">
            <a class="btn btn-outline mr-1 bold">CANCEL</a>

            <button type="submit" class="btn btn-primary bold">PROCEED</button>
        </div>
    </div>
</form>